In [12]:
#!pip install transformers torch scikit-learn

In [51]:
from sklearn.model_selection import train_test_split
import pandas as pd
import numpy as np

In [47]:
"""
Read Data
"""
df = pd.read_csv('data/fce_6languages.csv')
df.head()

,filename,native_language,native_language_encoded,age,total_score,question_number,exam_score,answer,mistakes_tag,AG,...,UJ,UN,UP,UQ,UT,UV,UY,W,X,unknown
0,0100_2000_6/doc2.xml,Chinese,0,16-20,24.0,1,3.2,Dear Mr Ryan.\nThanks for you letter. I am so ...,"['RP', 'DD', 'RJ', 'MD', 'TV', 'RT', 'MD', 'UT...",0,...,0,0,0,0,1,0,0,0,0,0
1,0100_2000_6/doc2.xml,Chinese,0,16-20,24.0,2,2.3,As our class is going to mark a short video ab...,"['RV', 'TV', 'UQ', 'MD', 'RP', 'MT', 'FN', 'MT...",0,...,0,0,0,1,0,1,0,0,0,0
2,0100_2000_6/doc4.xml,Chinese,0,21-25,17.0,1,2.2,"Dear Madam Helen Ryan,\nI have received your l...","['RN', 'TV', 'RY', 'AGV', 'MA', 'W', 'FN', 'R'...",0,...,0,2,1,0,3,2,0,1,0,0
3,0100_2000_6/doc4.xml,Chinese,0,21-25,17.0,3,2.1,I agree! Sometimes shopping is not always enjo...,"['UT', 'U', 'RP', 'MP', 'L', 'FN', 'RT', 'UT',...",0,...,0,0,5,0,3,1,0,0,0,0
4,0100_2000_6/doc24.xml,Spanish,5,16-20,32.0,1,3.3,"Dear Mrs. Ryan,\nFirst of all, I would like to...","['MT', 'RT', 'TV', 'RT', 'MD', 'AGN', 'RP', 'R...",0,...,0,0,0,0,0,0,1,0,0,0

In [59]:
"""
Train-Test Split by Students
"""
def train_test_split_by_students(df, train_size=0.8, test_size=0.1, valid_size=0.1):
    assert train_size + test_size + valid_size == 1
    # Split students
    students = np.unique(df['filename'])
    # 80% train
    students_train, students_temp = train_test_split(students, test_size=(test_size + valid_size), random_state=1000)
    # 10% test, 10% validation
    students_test, students_valid = train_test_split(students_temp, test_size=(valid_size / (test_size + valid_size)), random_state=1000)
    print(f"Number of Students in Train: {students_train.size}, Test: {students_test.size}, Validation: {students_valid.size}")

    # Split the data by students
    train = df[df['filename'].isin(students_train)]
    test = df[df['filename'].isin(students_test)]
    valid = df[df['filename'].isin(students_valid)]

    # Input and Output
    features = ['answer']
    target = ['native_language_encoded']
    X_train, X_test, X_valid, y_train, y_test, y_valid = train[features], test[features], valid[features], train[target], test[target], valid[target]
    print(f"Training Size: {len(X_train)}, Test Size: {len(X_test)}, Validation Size: {len(X_valid)}")
    return X_train, X_test, X_valid, y_train, y_test, y_valid

# METHOD CALL
# Change the size (proportion) as needed
X_train, X_test, X_valid, y_train, y_test, y_valid = train_test_split_by_students(df, train_size=0.8, test_size=0.1, valid_size=0.1)

Number of Students in Train: 498, Test: 62, Validation: 63
Training Size: 993, Test Size: 124, Validation Size: 126